.weather {
  margin: 10px auto 30px auto;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}
@media (min-width: 800px) {
  .weather {
    width: 700px;
    display: flex;
  }
  .weather__forecast {
    flex: 0 0 50%;
  }
}

.weather__forecast {
  min-height: 360px;
  color: var(--black);
  background-color: var(--background-light);
}

@media (min-width: 800px) {
  .weather__loading {
    flex: 0 0 50%;
  }
}
.weather__loading {
  min-height: 360px;
  padding: 20px;
  background: var(--gradient-warm);
  color: var(--white);
}