h1 {
  margin-bottom: 30px;
  font-size: var(--font-heading);
  text-align: center;
  color: var(--white);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}